<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="app">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Main component for a primary marketing message or call to action -->
<div class="container">
    <div class="row row-header">
        <div class="col-xs-12 col-sm-8">
            <h1>Welcome to Angular Bike Garage!</h1>
            <p>This is a sample application demonstrating how to build a CRUD application with Angular.js and RESTful services.</p>
            <p>Select a bike in the list on the left to see/edit the details, or click the New Bike button to add a bike to your Bike Garage.</p>
            <button type="submit" class="btn btn-success" ui-sref="app.addbike">New Bike</button>
        </div>
        <div class="col-xs-12 col-sm-2">
            <img src="images/logo.gif" class="img-responsive">
        </div>
        <div class="col-xs-12 col-sm-2">
        </div>
    </div>
</div>
