<div class="container">
    <div class="row row-content">
        <div class="col-sm-2 col-md-2 pull-right">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Garage" id="searchBox" ng-model="searchBox.model">
            </div>
        </div>
        <div class="col-xs-12">
            <div class="tab-content">
                <ul class="media-list tab-pane fade in active">
                    <li class="media" ng-repeat="bike in vm.bikes | filter:searchBox">
                        <div class="media-left media-middle">
                            <a ui-sref="app.bikedetails({id: bike._id})">
                                <img class="media-object img-thumbnail" ng-src={{bike.image}} alt="Bike">
                            </a>
                        </div>
                        <div class="media-body">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
